name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    # Runs every day at 9:00 AM Cambodia time (UTC+7 = 02:00 UTC)
    - cron: '0 2 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Set up JDK 1.8
      - name: Set up JDK 1.8
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: maven

      # Step 3: Build and run tests
      - name: Build and run tests
        run: mvn -B clean package

      # Step 4: Run Checkstyle
      - name: Run Checkstyle
        run: mvn checkstyle:check
      - name: Upload Checkstyle report
        uses: actions/upload-artifact@v4
        with:
          name: checkstyle-report
          path: target/checkstyle-result.xml

      # Step 5: Run PMD
      - name: Run PMD
        run: mvn pmd:check
      - name: Upload PMD report
        uses: actions/upload-artifact@v4
        with:
          name: pmd-report
          path: target/pmd.xml

      # Step 6: Run SpotBugs
      #- name: Run SpotBugs
      #  run: mvn spotbugs:check
      #- name: Upload SpotBugs report
      #  uses: actions/upload-artifact@v4
      #  with:
      #    name: spotbugs-report
      #    path: target/spotbugsXml.xml

      # Step 7: Upload JAR artifact
      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: demo-project-jar
          path: target/*.jar

      # Step 8: Upload test results
      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: target/surefire-reports/
          
      - name: Run tests with JaCoCo
        run: mvn clean verify

      - name: Upload JaCoCo report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco/          

      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Run SonarCloud Analysis
        run: mvn -B verify sonar:sonar
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
          SONAR_ORG: ${{ secrets.SONAR_ORG }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}